*{
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
}

body{
    --cor-de-navegacao: #003f92;
    --cor-background: #fff;
    --cor-fonte: rgb(255, 255, 255);   
    background-color: var(--cor-background-claro);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
}
.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cor-de-navegacao);
    padding: 0.3125rem 0.75rem 0.3125rem 00.75rem;
    
    
}
.rodape{
    display: flex;
    align-items: center;
    background-color: var(--cor-de-navegacao);
    padding: 0.3125rem 0.75rem 0.3125rem 00.75rem;
    margin: 0;
    
    
}

img{
    cursor: pointer;
}
