@import url('../../css/global.css');


.conteiner-formulario{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--cor-de-navegacao);
    box-shadow: 0 8px 8px 0 rgba(247, 247, 247, 0.2);
    color: #fff;
    padding: 0.75rem;
    width: 37rem;
    position: absolute;
    top: 20%;
    left: 20px;
    z-index: 1;
}
p{
    margin-bottom: 20px;
    font-weight: bolder;
    letter-spacing: 0.125rem;
}
div{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
input{
    all: unset;
    background-color: darkgrey;
    padding: 0.5rem;
    width: 30rem;
}
.texto {
    background-color: red;
    color: white;
}
.escondido{
    display: none;
}