@import url('../../css/global.css');

.principal{
   
    flex-grow: 1;
    padding: 2rem 2rem 2rem 2rem;
}
.conteiner-formulario{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--cor-de-navegacao);
    box-shadow: 0 8px 8px 0 rgba(8, 8, 8, 0.4);
    color: var(--cor-fonte);
    padding: 1rem;
    width: 37rem;
}
.form{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
p{
    margin-bottom: 20px;
    font-weight: bolder;
    letter-spacing: 0.125rem;
}

 
input{
    all: unset;
    background-color: darkgrey;
    padding: 0.5rem;
    width: 30rem;
}
.texto {
    background-color: red;
    color: var(--cor-fonte);
}
.botao-oferta{
    text-decoration: none;
    color: var(--cor-fonte);
}
.botao-oferta:hover{
    color: aqua;
}
.escondido{
    display: none;
}

@media(max-width:600px){
    .principal{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .conteiner-formulario{
        width: 70%;
        height: 70%;
    }
    input{
        width: 90%;
    }
}