@import url('../../css/global.css');

.principal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
.cards{
    display: flex;
    flex-direction: row;
}

.conteiner-oferta {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.75rem;
    background-color: darkgray;
    box-shadow: 0 8px 8px 0 rgba(2, 2, 2, 0.2); 
    width: 20rem;
    height: 15;
    margin-left: 1rem 
}

.conteiner-oferta img{
    width: 60px;
    height: 60px;
}
.informacao{
    display:flex ;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: var(--cor-fonte);
    margin-bottom: 30px;
}
.conteiner-oferta button{
    all: unset;
    width: 100px;
    height: 48px;
    background-color: darkorange;
    color: var(--cor-fonte);
    border-radius: 20px;
    text-align: center;
}

.botao  {
    width: 12.5rem;
    height: 2rem;
    background-color: orangered;
    border-radius: 0.125rem;
    border: none;
    color: var(--cor-fonte);
    cursor: pointer;
}

.botao a{
    text-decoration: none;
    color: var(--cor-fonte);
}

button:hover{
    background-color: #00d3128f;
}

.ofertas{
   font-size: 20px;
   letter-spacing: 0.125rem;
   color: var(--cor-fonte);
}

@media(max-width:600px){
    
    .cards{
        flex-direction: column;
    }
    .conteiner-oferta{
        margin-top: 1rem;
        
        margin-bottom: 1.5rem;
    }
}